<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<br>
<h1><%= @player1.name %> attacked <%= @player2.name %>!</h1>

<h2><%= @player2.name %>'s HP: <%= @player2_HP%></h2>
